.container {
    margin: auto;
    width: 732px;
}
.top {
    padding: 27px 0;
    width: 880px;
    margin: auto;
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title {
    font-family: "Rockwell", "Times New Roman", serif;
    font-size: 72pt;
    color: #333;
    margin: 0;
    display: inline-block;
}
.search {
    height: 53px;
    border: 2px solid #127185;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(18, 113, 133, 0.4);
    font-family: Helvetica, "Nimbus Sans", sans;
    font-size: 14pt;
    padding: 5px 10px 1px 10px;
    margin: 0;
    margin-top: 34px;
    width: 540px;
}
.search:focus {
    box-shadow: inset 0 0 5px rgba(18, 113, 133, 0.2), 0 0 5px rgba(18, 113, 133, 0.4);
    border-color: #4dcad6;
}
