<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Blog</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        html {
            background-color: #d6f9f5;
            padding: 0;
        }
        * {
            font-family: "Trebuchet MS", Helvetica, "Nimbus Sans", sans;
        }
    </style>
    <style id="ssrStyles"><%= '\<\%\- styles \%\>' %></style>
</head>

<body>
    <div id="root"><%= '\<\%\- body \%\>' %></div>
    <%= '\<\%\- refreshScript \%\>' %>
</body>

</html>
