.text {
    border: 2px solid #127185;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(18, 113, 133, 0.4);
    font-size: 1.2rem;
    padding: 0 0.625rem 0.1rem 0.625rem;
    height: 2.6rem;
    margin: 0.3rem;
    transition: all ease 0.2s;
}
.text:focus {
    box-shadow: inset 0 0 5px rgba(18, 113, 133, 0.2), 0 0 5px rgba(18, 113, 133, 0.4);
    border-color: #4dcad6;
}
.button {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
}
